In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('insurance.csv')

In [3]:
df = df.drop('region',axis='columns')
df.head()

   age     sex   bmi  children smoker  expenses
0   19  female  27.9         0    yes  16884.92
1   18    male  33.8         1     no   1725.55
2   28    male  33.0         3     no   4449.46
3   33    male  22.7         0     no  21984.47
4   32    male  28.9         0     no   3866.86

In [4]:
onehot = pd.get_dummies(df)
data = onehot

In [5]:
data.shape

(1338, 8)

In [6]:
data.head()

   age   bmi  children  expenses  sex_female  sex_male  smoker_no  smoker_yes
0   19  27.9         0  16884.92           1         0          0           1
1   18  33.8         1   1725.55           0         1          1           0
2   28  33.0         3   4449.46           0         1          1           0
3   33  22.7         0  21984.47           0         1          1           0
4   32  28.9         0   3866.86           0         1          1           0

In [7]:
data = data.drop('sex_male', axis = 'columns')
data.head()

   age   bmi  children  expenses  sex_female  smoker_no  smoker_yes
0   19  27.9         0  16884.92           1          0           1
1   18  33.8         1   1725.55           0          1           0
2   28  33.0         3   4449.46           0          1           0
3   33  22.7         0  21984.47           0          1           0
4   32  28.9         0   3866.86           0          1           0

In [8]:
data = data.drop('smoker_yes', axis = 'columns')

In [9]:
columns_titles = ['age','sex_female', 'bmi', 'children', 'smoker_no', 'expenses']
data=data.reindex(columns=columns_titles)
data.head()

   age  sex_female   bmi  children  smoker_no  expenses
0   19           1  27.9         0          0  16884.92
1   18           0  33.8         1          1   1725.55
2   28           0  33.0         3          1   4449.46
3   33           0  22.7         0          1  21984.47
4   32           0  28.9         0          1   3866.86

In [10]:
# Create independant (X) and dependant (y) variables
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [11]:
# Data divided into a training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature scaling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# This class will identify the best features with highest p-values to determine the dependant variable
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [12]:
# Dispay two vectors: vectors of real insurance charge in test set, second is the predicted insurance charges
y_pred = regressor.predict(X_test)
np.set_printoptions(precision = 2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_pred), 1)), 1))

[[ 1.14e+04  9.72e+03]
 [ 9.94e+03  8.55e+03]
 [ 3.78e+04  4.57e+04]
 [ 1.59e+04  1.30e+04]
 [ 6.90e+03  9.64e+03]
 [ 3.61e+03  4.50e+03]
 [ 1.12e+03  2.20e+03]
 [ 1.41e+04  1.14e+04]
 [ 8.76e+03  7.54e+03]
 [ 7.25e+03  5.43e+03]
 [ 4.15e+03  6.75e+03]
 [ 1.01e+04  1.05e+04]
 [ 9.08e+03  7.34e+03]
 [ 4.30e+03  4.19e+03]
 [ 2.77e+04  1.83e+04]
 [ 1.12e+04  1.07e+04]
 [ 1.12e+04  1.25e+04]
 [ 5.56e+03  3.49e+03]
 [ 8.02e+03  6.46e+03]
 [ 2.66e+04  3.35e+04]
 [ 3.35e+04  2.40e+04]
 [ 1.41e+04  1.26e+04]
 [ 1.13e+04  2.30e+04]
 [ 3.26e+04  2.31e+04]
 [ 4.52e+03  1.67e+03]
 [ 8.63e+03  4.67e+03]
 [ 7.85e+02  3.73e+03]
 [ 1.02e+04  7.68e+03]
 [ 4.24e+03  3.76e+03]
 [ 1.02e+04  8.41e+03]
 [ 8.79e+03  8.06e+03]
 [ 4.03e+04  4.90e+04]
 [ 1.59e+04  1.30e+04]
 [ 1.41e+04  2.06e+04]
 [ 2.44e+04  1.46e+04]
 [ 4.69e+03  4.14e+03]
 [ 1.29e+04  8.35e+03]
 [ 3.09e+04  5.12e+04]
 [ 3.33e+04  4.00e+04]
 [ 3.88e+03  1.88e+03]
 [ 3.66e+03  5.46e+03]
 [ 4.42e+03  2.87e+03]
 [ 3.01e+04  2.01e+04]
 [ 3.92e+04  4.75e+04]
 [ 2.81e+04  3.61e+04]
 [ 4.80e+03  2.60e+04]
 [ 1.11e+04  1.97e+04]
 [ 7.65e+03  6.94e+03]
 [ 3.20e+03  4.72e+03]
 [ 1.08e+04  2.22e+04]
 [ 5.16e+03  2.90e+03]
 [ 3.18e+03  1.88e+04]
 [ 3.33e+04  2.36e+04]
 [ 3.79e+04  4.63e+04]
 [ 1.63e+04  2.42e+04]
 [ 6.57e+03  3.27e+03]
 [ 6.06e+03  2.32e+03]
 [ 9.29e+03  8.83e+03]
 [ 9.37e+03  1.45e+04]
 [ 1.16e+04  1.31e+04]
 [ 2.12e+03  1.25e+03]
 [ 3.87e+04  4.67e+04]
 [ 1.53e+04  1.39e+04]
 [ 1.20e+04  9.63e+03]
 [ 1.35e+04  1.07e+04]
 [ 1.42e+04  9.88e+03]
 [ 2.62e+04  3.25e+04]
 [ 3.19e+04  3.87e+04]
 [ 1.34e+03  3.18e+03]
 [ 9.91e+03  8.16e+03]
 [ 1.27e+04  1.30e+04]
 [ 1.20e+04  1.16e+04]
 [ 2.55e+04  1.62e+04]
 [ 1.60e+04  1.39e+04]
 [ 1.11e+04  1.30e+04]
 [ 1.22e+04  1.32e+04]
 [ 6.95e+03  7.15e+03]
 [ 1.00e+04  7.73e+03]
 [ 2.98e+04  2.03e+04]
 [ 3.93e+04  4.74e+04]
 [ 1.16e+04  1.17e+04]
 [ 3.75e+04  4.59e+04]
 [ 3.98e+03  2.06e+03]
 [ 9.66e+03  7.44e+03]
 [ 3.43e+04  4.10e+04]
 [ 2.93e+04  1.90e+04]
 [ 8.76e+03  3.41e+03]
 [ 4.68e+03  2.70e+03]
 [ 1.24e+04  1.23e+04]
 [ 3.06e+04  3.68e+04]
 [ 9.45e+03  6.33e+03]
 [ 1.17e+04  1.02e+04]
 [ 7.72e+03  1.79e+04]
 [ 9.35e+03  8.52e+03]
 [ 7.87e+03  4.52e+03]
 [ 6.79e+03  5.15e+03]
 [ 3.55e+04  4.23e+04]
 [ 3.34e+04  3.90e+04]
 [ 7.38e+03  5.33e+03]
 [ 1.53e+04  1.06e+04]
 [ 4.39e+03  1.82e+03]
 [ 8.52e+03  5.38e+03]
 [ 6.68e+03  4.35e+03]
 [ 3.19e+04  3.77e+04]
 [ 3.27e+04  3.28e+04]
 [ 1.88e+03  3.35e+03]
 [ 9.44e+03  1.06e+04]
 [ 6.40e+03  3.56e+03]
 [ 1.41e+04  1.19e+04]
 [ 3.75e+04  5.26e+04]
 [ 1.01e+04  1.25e+04]
 [ 1.08e+04  4.27e+03]
 [ 1.00e+04  9.25e+03]
 [ 2.64e+04  3.37e+04]
 [ 4.01e+04  4.87e+04]
 [ 8.01e+03  7.73e+03]
 [ 6.60e+02  1.96e+03]
 [ 9.35e+03  8.44e+03]
 [ 1.54e+04  1.23e+04]
 [ 9.34e+03  9.30e+03]
 [ 3.55e+04  4.21e+04]
 [ 7.22e+03  9.99e+03]
 [ 1.71e+04  1.43e+04]
 [ 9.01e+03  5.43e+03]
 [ 8.57e+03  7.63e+03]
 [ 2.83e+03  4.91e+03]
 [ 3.25e+04  2.34e+04]
 [ 3.13e+04  2.11e+04]
 [ 3.98e+04  4.82e+04]
 [ 5.26e+03  1.92e+03]
 [ 9.73e+03  8.22e+03]
 [ 3.93e+03  1.73e+03]
 [ 8.06e+03  5.98e+03]
 [ 8.26e+03  9.36e+03]
 [ 3.20e+04  2.21e+04]
 [ 3.02e+04  3.55e+04]
 [ 3.03e+04  1.95e+04]
 [ 9.24e+03  1.01e+04]
 [ 3.30e+04  2.32e+04]
 [ 3.16e+03  2.79e+03]
 [ 3.43e+03  2.26e+03]
 [ 1.09e+04  1.06e+04]
 [ 1.35e+04  9.30e+03]
 [ 1.24e+04  1.04e+04]
 [ 5.29e+03  4.89e+03]
 [ 1.60e+04  1.43e+04]
 [ 1.53e+04  2.83e+04]
 [ 2.26e+03  1.44e+04]
 [-9.01e+01  1.63e+03]
 [ 1.05e+04  2.55e+04]
 [ 6.97e+03  6.56e+03]
 [ 3.20e+04  3.96e+04]
 [ 1.19e+04  9.96e+03]
 [ 2.72e+03  1.72e+03]
 [ 6.07e+03  2.73e+03]
 [ 8.28e+03  6.50e+03]
 [ 4.18e+03  2.64e+03]
 [ 2.52e+03  1.72e+03]
 [ 1.12e+04  1.11e+04]
 [ 1.22e+04  1.01e+04]
 [ 6.71e+03  4.85e+03]
 [ 1.67e+04  1.30e+04]
 [ 1.17e+04  2.89e+04]
 [ 1.42e+04  9.39e+03]
 [ 2.83e+03  4.54e+03]
 [ 6.69e+03  1.71e+04]
 [ 2.35e+04  1.38e+04]
 [ 7.08e+03  6.11e+03]
 [ 5.04e+03  4.44e+03]
 [ 5.45e+03  1.63e+03]
 [ 6.47e+03  4.06e+03]
 [ 4.73e+03  4.44e+03]
 [ 9.77e+03  8.31e+03]
 [ 5.71e+03  1.99e+03]
 [ 5.97e+03  4.26e+03]
 [ 6.98e+03  4.50e+03]
 [ 3.29e+03  4.43e+03]
 [ 5.47e+03  6.12e+03]
 [ 3.76e+04  3.02e+04]
 [ 1.03e+03  1.71e+03]
 [ 1.24e+04  1.12e+04]
 [ 8.71e+03  6.80e+03]
 [ 1.35e+04  1.14e+04]
 [ 5.77e+03  2.50e+03]
 [ 4.79e+03  2.74e+04]
 [ 3.60e+04  2.81e+04]
 [ 3.85e+03  2.25e+03]
 [ 2.35e+03  2.60e+03]
 [ 1.50e+04  1.47e+04]
 [ 1.21e+04  1.04e+04]
 [ 3.46e+04  4.11e+04]
 [ 5.18e+03  3.98e+03]
 [ 6.01e+03  5.47e+03]
 [ 3.17e+04  2.12e+04]
 [ 5.87e+03  2.53e+03]
 [ 2.47e+03  1.97e+03]
 [ 7.93e+03  6.41e+03]
 [ 9.45e+03  6.55e+03]
 [ 8.29e+03  4.06e+03]
 [ 5.58e+03  4.24e+03]
 [ 1.27e+04  1.15e+04]
 [ 3.89e+04  4.69e+04]
 [ 1.35e+04  1.23e+04]
 [ 2.92e+04  1.92e+04]
 [ 6.50e+03  4.43e+03]
 [ 3.58e+04  4.30e+04]
 [ 3.33e+03  2.32e+04]
 [ 1.23e+04  9.14e+03]
 [ 9.40e+03  5.84e+03]
 [ 6.45e+03  1.15e+03]
 [ 1.11e+04  8.77e+03]
 [ 1.41e+04  1.40e+04]
 [ 4.96e+03  5.31e+03]
 [ 4.67e+03  1.08e+04]
 [ 8.19e+03  6.28e+03]
 [ 1.70e+03  1.97e+03]
 [ 7.40e+03  6.75e+03]
 [ 4.03e+03  5.35e+03]
 [ 1.33e+04  1.40e+04]
 [ 3.94e+03  6.88e+03]
 [ 1.02e+04  6.20e+03]
 [ 6.81e+03  7.99e+03]
 [ 9.60e+03  8.28e+03]
 [ 2.01e+03  3.21e+03]
 [ 1.35e+04  1.18e+04]
 [ 1.65e+04  1.42e+04]
 [ 1.53e+04  1.23e+04]
 [ 1.10e+04  1.18e+04]
 [ 5.82e+03  6.65e+03]
 [ 2.69e+03  2.14e+03]
 [ 2.32e+03  1.13e+03]
 [ 1.29e+04  8.34e+03]
 [ 1.44e+04  1.22e+04]
 [ 4.48e+03  4.56e+03]
 [ 4.29e+03  1.76e+04]
 [ 9.72e+03  6.88e+03]
 [ 9.55e+03  9.45e+03]
 [ 2.78e+04  3.43e+04]
 [ 7.17e+03  6.07e+03]
 [ 1.01e+04  1.17e+04]
 [ 6.64e+03  5.38e+03]
 [ 2.95e+04  3.75e+04]
 [ 1.13e+04  7.37e+03]
 [ 7.11e+03  7.33e+03]
 [ 9.98e+03  8.41e+03]
 [ 1.20e+04  1.05e+04]
 [ 2.53e+03  3.28e+03]
 [ 1.06e+04  7.73e+03]
 [ 1.15e+03  2.73e+03]
 [ 6.62e+03  6.86e+03]
 [ 2.89e+04  1.95e+04]
 [ 3.89e+04  4.73e+04]
 [ 6.56e+03  3.99e+03]
 [ 8.41e+03  3.24e+03]
 [ 2.05e+03  7.32e+03]
 [ 3.98e+01  1.70e+03]
 [ 1.08e+04  7.45e+03]
 [ 4.52e+03  1.63e+03]
 [ 4.74e+03  4.88e+03]
 [ 2.85e+03  3.56e+03]
 [ 7.38e+03  8.61e+03]
 [ 3.37e+04  2.45e+04]
 [ 3.77e+04  4.57e+04]
 [ 1.45e+04  1.50e+04]
 [ 8.07e+03  6.66e+03]
 [ 1.55e+04  2.07e+04]
 [ 3.32e+04  4.09e+04]
 [ 9.05e+03  9.50e+03]]

In [34]:
user_input = [[29,"female",27.1,0,"no"]]

if user_input[0][1] == "female" or user_input[0][1] == "Female":
    user_input[0][1]= 1
else:
    user_input[0][1] = 0

if user_input[0][4] == "no" or user_input[0][1] == "No":
    user_input[0][4]= 1
else: 
    user_input[0][4] = 0

ans = np.asarray(user_input)
finalans = np.array(ans, dtype=np.float32)

# get prediction for new input
output = regressor.predict(finalans)
                           
# summarize input and output
print(finalans, output)

[[29.   1.  27.1  0.   1. ]] [161550.99]